$screen__zero: 0px;
$screen__xxs: 320px;
$screen__xs: 480px;
$screen__s: 640px;
$screen__m: 768px;
$screen__l: 1024px;
$screen__xl: 1440px;
$screen__category-grid: 1201px;

$breakpoints: (
	mobile: $screen__xxs,
	tablet: $screen__m,
	desktop: $screen__l,
);